<!DOCTYPE html>
<html lang="en">

<!--<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="/assets/home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!--<link href="/assets/home/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <!--<link href="/assets/home/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <!--<link href="/assets/home/css/freelancer.min.css" rel="stylesheet">
    <link href="/assets/home/css/homepage.css" rel="stylesheet">

</head>-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <!-- <meta name="description" content="Aviato E-Commerce Template"> -->
  
  <!--<meta name="author" content="Themefisher.com">-->

  <title>Fit-Kidz</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/assets/css/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href="/assets/css/plugins/Ionicons/css/ionicons.min.css">
  <!-- animate.css -->
  <link rel="stylesheet" href="/assets/css/plugins/animate-css/animate.css">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/dist/magnific-popup.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="/assets/css/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/assets/css/plugins/slick-carousel/slick/slick-theme.css">
  
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body id="page-top">



<!-- Header -->
  <!--  <style>
        img { height: auto; width: auto\9; width:100%; }

    </style>
    <img style="max-width:100%;overflow:hidden;" src="/assets/image/profile.png" alt="">

<!-- Portfolio Grid Section -->
<!--<section class="portfolio" id="portfolio">
    <div class="container">
        <!--<h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>-->
        <!--<hr class="star-dark mb-5">-->
      <!--  <div class="row">
            <div class="col-md-6 col-lg-4">
                <p class="labels" align="center">Obesity Introduction</p>
                <a class="portfolio-item d-block mx-auto" href="{:url('/introduction')}">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="/assets/home/img/portfolio/cabin.png" alt="">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <p class="labels" align="center">Food Ranking Game</p>
                <a class="portfolio-item d-block mx-auto" href="{:url('/health')}" target="_top">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="/assets/home/img/portfolio/cake.png" alt="">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <p class="labels" align="center">Your Profile</p>
                <a class="portfolio-item d-block mx-auto" href="{:url('/user/'.$user_id)}" target="_top">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-wuserhite">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="/assets/home/img/portfolio/circus.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section> -->

<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="animated fadeInUp">Fit Kidz</h1>
					<p class="animated fadeInUp">Eat Healthy. Live Active. Be Happy.</p>
					<!--<a href="https://themefisher.com/free-bootstrap-templates/" target="_blank" class="btn btn-main animated fadeInUp" >Free Bootstrap Templates</a>-->
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Wrapper Start -->
<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12">
				<div class="block">
					<div class="section-title">
						<h2>Childhood Obesity. A Major Concern. </h2>
						<p>Obesity is the excessive or abnormal accumilation of fat that may effect health. Childhood obesity is a medical condition which effect children and teenagers. If a child stores too much fat then they are classified as overweight or obese. If left unchecked, obese children grow up to become obese adults and this maybe the reason to many chronic diseases like type A diabetes, cholesterol and heart condition. </p>
					</div>
					<p>Childhood obesity in most cases is a result of children eating too much and not having enough excercise. In some cases obesity can be a result of deeper health issues which have no association to a child's lifestyle.
 						Children who are at the risk of becoming overweight include:<br>
						- Children who consume a high quantity of sugary drinks.<br>
						- Children who dont excercise enough.<br>
						- Who spend most of their time watching TV or playing video games (which does not burn calories)<br>
						- Have a lack of good nutrition information.<br>
						- Who cannot afford or have access to healthy food.<br>
						- Who are suffering from conditions such as Prader-Willi syndrome or Cushing's syndrome.</p>
				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5 col-sm-12">
				<br><div class="block">
					<img src="/assets/image/1.jpg" alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
	</div>
</section>

<section class="feature bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2 class="section-subtitle">What Fit Kidz provide.</h2>
        <p>Fit-kidz is a website which aims at helping combat the issues surrounding child obesity in kids aged between 9-12 years of age so that they grow up to be healthy young adults. This website educates children about the importance of having a healthy diet and leading an active life style.</p>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Key Features</h2>
        <p>Fit Kidz aims at helping young children between the ages of 9 and 12 years by providing them with the following services</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Food Ranking Game</h4>
          <p>Kids are educated about healthy food choices through food ranking game.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Meal Recommendation</h4>
          <p>Parents receive their kids meal preferences via email. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Points System</h4>
          <p>Kids can compete and keep a track of their progress using reward systems and user portal.</p>
        </div>
      </div>
   <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Obesity Info</h4>
          <p>Parents can keep themselves informed about the ill effects of childhood obesity.</p>
        </div>
      </div>
       <!--  <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>-->
    </div>
  </div>
</section>
<!-- Call to action Start -->

<section class="call-to-action bg-1 section-sm overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2>Excited to learn about healthy food choices?</h2>
					<a class="btn btn-main btn-solid-border" href="{$site_info.health_url}" >Play Now!</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!--<style>
    footer, .footer {
        height: 49px !important;
    }
    .footer p {
        color: #ffffff;
        margin: 0;
        padding: 15px 0;
        text-align: center;
        background: #1a252f;
        font-size: 12px;
    }
    .footer {
         padding-top: 0rem !important;
         padding-bottom: 0rem !important;
         background-color: #2c3e50;
         color: #fff;
    }
</style>-->
{include file="layout/footer" /}


<!-- Bootstrap core JavaScript -->
<!--<script src="/assets/home/vendor/jquery/jquery.min.js"></script>
<script src="/assets/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<!--<script src="/assets/home/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/assets/home/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Contact Form JavaScript -->
<!--<script src="/assets/home/js/jqBootstrapValidation.js"></script>
<script src="/assets/home/js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<!--<script src="/assets/home/js/freelancer.min.js"></script>-->
    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- <script src="js/jquery.counterup.js"></script> -->
    
    <!-- Main jQuery -->
   
    <script src="https://code.jquery.com/jquery-git.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="/assets/css/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/assets/css/plugins/slick-carousel/slick/slick.min.js"></script>
    <!--  -->
    <script src="/assets/css/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Mixit Up JS -->
    <script src="/assets/css/plugins/mixitup/dist/mixitup.min.js"></script>
    <!-- <script src="plugins/count-down/jquery.lwtCountdown-1.0.js"></script> -->
    <script src="/assets/css/plugins/SyoTimer/build/jquery.syotimer.min.js"></script>


    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>


    
    <!-- Google Map -->
    <!--<script src="/assets/css/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>  -->  

    <script src="/assets/js/script.js"></script>

</body>

</html>
