<!--{extend name="layout/base" }
{block name="style"}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="/assets/home/css/homepage.css" rel="stylesheet">
{/block}
{block name="content-body"}-->
{extend name="layout/base" }
{block name="style"}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Aviato E-Commerce Template"/>
  
  <meta name="author" content="Themefisher.com"/>

  <title>Fit-Kidz</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"/>
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/assets/css/plugins/bootstrap/css/bootstrap.min.css"/>
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href="/assets/css/plugins/Ionicons/css/ionicons.min.css"/>
  <!-- animate.css -->
  <link rel="stylesheet" href="/assets/css/plugins/animate-css/animate.css"/>
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/dist/magnific-popup.css"/>
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="/assets/css/plugins/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" href="/assets/css/plugins/slick-carousel/slick/slick-theme.css"/>

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/assets/css/style.css"/>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
{/block}
{block name="content-body"}


<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>What is Childhood Obesity?</h1>
          <p>Obesity is the excessive or abnormal accumulation of fat that may affect health. Childhood obesity is a medical condition which effect children and teenagers. <br> If a child stores too much fat then they are classified as overweight or obese.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="service-about section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<h2>What are the complications associated with childhood obesity?</h2>
				<p class="mt-30">Childhood Obesity can lead to health complications such as: <br>
					- Liver diseases.<br>
					- Type 2 diabetese.<br>
					- Respiratory issues like asthma.<br>
					- Bone and joint problems. <br>
 
					Obesity also has some serious psychological effects like: <br>
					- Increased risk of depression. <br>
					- More likely to be bullied or teased. <br>
					- May have poor self-esteem. <br>
					- May feel socially isolated. </p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="/assets/image/ChildrenPlaying.jpg">
			</div>
		</div>
	</div>
</section>

<section class="service-arrow">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 bg-primary">
				<div class="block">
					<i class="ion-erlenmeyer-flask"></i>
					<h3>28% of Australian Adults were obese in 2014-2015, an increase from 19% in 1995</h3>
				</div>
			</div>
			<div class="col-md-4 bg-primary bg-primary-dark">
				<div class="block">
					<i class="ion-leaf"></i>
					<h3>1 in 4 Australian children aged 2-17 years were overweight or obese in 2014-15</h3>
				</div>
			</div>
			<div class="col-md-4 bg-primary bg-primary-darker">
				<div class="block">
					<i class="ion-lightbulb"></i>
					<h3>5% of the burden of disease was attributed to overweight and obesity in 2011.</h3>
				</div>
			</div>
		</div>
	</div>
</section>
 <!-- <script src="js/jquery.counterup.js"></script> -->
    
    <!-- Main jQuery -->
   
    <script src="https://code.jquery.com/jquery-git.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="/assets/css/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/assets/css/plugins/slick-carousel/slick/slick.min.js"></script>
    <!--  -->
    <script src="/assets/css/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Mixit Up JS -->
    <script src="/assets/css/plugins/mixitup/dist/mixitup.min.js"></script>
    <!-- <script src="plugins/count-down/jquery.lwtCountdown-1.0.js"></script> -->
    <script src="/assets/css/plugins/SyoTimer/build/jquery.syotimer.min.js"></script>


    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>


    
    <!-- Google Map -->
  <!--  <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>-->

    <script src="/assets/js/script.js"></script>
<!--<div class="detail" >
   <!-- <style>
        .detail_img  { right:10%;height: 30%; width: auto\9; width:30%; }
    </style> -->
   <!-- <div class="am-g am-g-fixed detail_bg" >-->
	
	
       <!--<img style="max-width:100%;overflow:hidden;" class="detail_img" src="/assets/image/obesity.jpg" alt="">
        <div  id='tips' >
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <p class="title">What is Childhood Obesity?</p>

                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <span style="font-size:20px">Obesity is the excessive or abnormal accumulation of fat that may affect health. Childhood obesity is a medical condition which effect children and teenagers. </br>
                                If a child stores too much fat then they are classified as overweight or obese. </span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <p class="title">Who is at risk?</p>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <span style="font-size:20px">Childhood obesity in most cases is a result of children eating too much and not having enough exercise. In some cases, obesity can be a result of deeper health issues which have no association to a child&#39;s lifestyle.</span>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Children who consume a high quantity of sugary drinks.</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Children who don’t exercise enough.</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Who spend most of their time watching TV or playing video games (which does not burn calories)</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Have a lack of good nutrition information.</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Who cannot afford or have access to healthy food.</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Who are suffering from conditions such as Prader-Willi syndrome or Cushing&#39;s syndrome.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <p class="title">
                                    What are the complications associated with childhood obesity?
                                </p>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                <span style="font-size:20px">Childhood Obesity can lead to health complications such as:</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Liver diseases.</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Type 2 diabetes.</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Respiratory issues like asthma.</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Bone and joint problems. </span>
                            </p>

                            <p>
                                <span style="font-size:20px">Obesity also has some serious psychological effects like:</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Increased risk of depression.</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">More likely to be bullied or teased.</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">May have poor self-esteem.</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">May feel socially isolated.</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <p class="title">
                                    What can I do to prevent childhood obesity?
                                </p>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                <span style="font-size:20px">Obesity in children can be prevented if the right measures are taken at the right time. This includes:</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Live 5-2-1-0 which is consume 5 or more veggies and fruits per day, no more than 2 hours of screen time (TV, Video games), At least 1 hour of physical activity and 0 sugary drinks.</span>
                            </p>
                            <p>
                                <span style="font-size:20px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:20px">Seek your doctor’s advice.</span>
                            </p>
                            <p>
                                <img width="100%" height="8" src="/assets/image/line.png"/>
                            </p>
                            <p style="font-size:20px">
                                Source
                            </p>

                            <p>
                                <span style="font-size:20px">www.childhoodobesityfoundation.ca</span>
                            </p>
                            <p>
                                <br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>-->
    </div>
</div>
{/block}
{block name="script"}

{/block}
