<meta charset="UTF-8">
<title>{$site_info.site_title}</title>
<meta content="{$site_info.site_keyword}" name="keywords"/>
<meta content="{$site_info.site_description}" name="description"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<link href="/assets/css/amazeui.css" rel="stylesheet"/>
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
<!--<link href="/assets/css/base.css" rel="stylesheet">-->
<link href="/assets/css/style.css" rel="stylesheet"/>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
