<div class="am-container br_lf br_rg br_bt br_tp_g am-text-center am-padding-sm">

    <h2 class="font_green am-margin-bottom-xs">Manage Control</h2>
    <p class="am-margin-vertical-xs"><a href="{:url('/user/'.$user_id)}">Home </a></p>
    {if condition="$user_id eq 1"}
    <p class="am-margin-vertical-xs"><a href="{:url('/index/user/foods')}">Food </a></p>
    {/if}
    <p class="am-margin-vertical-xs"><a href="{:url('/index/user/point_logs/user_id/'.$user_id)}">Point Log </a></p>
    <p class="am-margin-vertical-xs"><a href="{:url('/logout')}">Log out</a></p>
</div>